@charset "utf-8";

/* General Definitions*/
body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size:10px;
}

.RobotoText {
  font-family: 'Roboto', sans-serif;
}
.OswaldText {
  font-family: 'Oswald', sans-serif;
}

/* ImageHeader */
.ImageHeader {
	width:100%;
	min-height:285px;
	text-align:center;
	background-size:cover;
	padding:30px;
	color:#fff;
	margin-top:100px;	
}	
@media (max-width:718px){
	.ImageHeader {
		margin-top:50px;	
	}	
}
.ImageHeader h1 {
	color:#fff;
	font-family: 'Oswald', sans-serif;
	margin-bottom:40px;
	font-size:48px;
}	
.ImageHeader p {
	max-width:700px;
	margin:0 auto;
	font-size:24px;
	line-height:30px;
}	

/* Colored stripes */	
.colors-wrapper {
	width:100%;	
}	
.colored-stripe{
	height:10px;
	width:25%;
}	
.red    {	background:#FC354C;	}	
.blue   {	background:#29A0C7;	} 
.yellow {   background:#FF8E2D;	}
.green  {	background:#8FBE00;	}			

/* Forms */	
.submitbutton{ /* form submit button */
	border:0;
	margin:0 auto;
	width:100%;
	padding:10px 10px;
	text-transform:uppercase;
	text-align:center;
	font-size:20px;
	color:#fff;
	transition: all 0.3s;
	background:#df1e34;
	margin-bottom:50px;
	height:56px;
}	
.submitbutton:hover{
	transition: all 0.3s;
	background:#00a8c6;
	cursor:pointer;
}	
#DownloadPDFModal input {
	height:56px;
	font-size:20px;	
}		
#DownloadPDFModal h2, #DownloadPDFModal p {
	text-align:center;
}	
#DownloadPDFModal h2 {
	font-family: 'Oswald', sans-serif;
	margin-bottom:20px;
}	
#DownloadPDFModal p	{
	font-size:20px;
	margin-bottom:10px;
}

/* Grow hover effect. 
   Used on the mainpage (sponsors section) */
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*Scroll to top button */
.GoTopButton {
    position: fixed;
    bottom: 100px;
    right: 50px;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
}
@media (max-width:580px){
    .GoTopButton {
		z-index: 10000;
        bottom: 15px;
        right: 15px;
    }
}
#GoTopImg{
    width:70px; 
    height:70px;
}