@charset "utf-8";
/* CSS document for the MAIN PAGE */

/* General definitions */
video {
	width:100%;
	min-width:1920px;
	height:560px;
	margin:0 auto;
	}
@media (min-width:1921px) {
	video {
		min-width:2560px;
		height:auto;
		}
}	
@media (max-width:640px){
	video {
		visibility:hidden;
	}	
}

/* override Foundation */
.orbit-slide-number, .orbit-prev, .orbit-next, .orbit-timer {
	display:none;
}
.reveal-modal {
  background-color: #fff;
  text-align: center;
}
.reveal-modal h2{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}
@media (max-width:580px){
  .reveal-modal {
    width: 100%;
  }
}
.close-reveal-modal img {
	position: relative;
	top: -35px;
	right: -35px;
}
@media (max-width:640px){
	.close-reveal-modal img {
		top: 0px;
		right: 0px;
	}
}
@media (max-width:380px){
	.close-reveal-modal img {
		width: 40px;
		height: 40px;
	}
}

/* Header */
#VideoContainer{
	z-index:0;
	width:100%;
	height:560px;
	position:relative;
	top:0;
	margin-top:100px;
    overflow:hidden; 
}
@media (min-width:640px) and (max-width:718px){
  #VideoContainer{
    margin-top: 60px !important;
  }
}
@media (max-width:640px){
	#VideoContainer{
		min-height:inherit;
		margin-top: 65px;
		margin-bottom:0px;
	}
}
#header-container {
	height: 560px;
	width: 100%;
	background:url(../img/pattern-overlay.png) repeat-x;
	background-color:rgba(0,0,0,0.30);
	background-size: cover;
	text-align:center;
	padding:70px 0 50px 0;
	margin-top:0px;
	z-index:1;
	position:absolute;
	top:0;
}
@media (max-width:718px){
	#header-container {
		margin-top:0px;
	}
}
@media (max-width:640px){
	#header-container {
		height:auto;
		max-height: 760px;
		background:url(../img/header-background.jpg);
		background-repeat: no-repeat;
		background-position:center;
		background-size: cover;
		padding:50px 30px;
		margin-top:-35px;
		overflow:hidden;
	}	
}
@media (max-width:460px) {
	#header-container {
		padding-left: 30px;
		padding-right: 30px;
		min-height:520px;
	}
}
#header-container h1 {
	margin-top:50px;
	color:#fff;
	font-weight:bolder;
	font-size:60px;
	line-height:50px;
	margin-bottom:30px;
	font-weight:900;
	}	
#header-container h2{
	color:#fff;
	font-weight:300;
	font-size:50px;
	line-height:40px;
	margin-bottom:50px;
}	
@media (min-width:769px) and (max-width:1240px){ /*small desktops, tablets in landscape mode*/
  #header-container h2 {
    font-size: 40px;
  }
}
#header-container h6{
	color:#fff;
	font-size:24px;
	margin:30px 0 20px 0;
}
#header-hrtech-logo {
	padding:0 15px;
}
@media (max-width:768px){ /*mobile phones*/
  #header-hrtech-logo {
    padding:0 5px;
  }  
  #header-container h1 {
    font-size: 40px;
  }  
  #header-container h2 {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  #header-container h1 {
	margin-top: 30px;
	margin-bottom: 20px;
  }  
  #header-container h2 {
	margin-bottom: 35px;
  }
  
}
.header-button {
	color:#fff;
	font-size:26px;
	transition: all 0.3s;
	text-transform:uppercase;
	padding:17px 0px;
	margin:0 10px;
	margin-top: 20px;
	height:56px;
	display:inline-block;
	width:100%;
	text-align:center;
	transition: all 0.2s;
}
@media (max-width:460px) {
	.header-button {
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 auto;
		margin-top: 20px;
	}
}
#TicketsButton {
	margin-top: -20px;
	background-color: rgba(235, 31, 50, 0.48);
	border:3px solid #EB1F32;	
}	
#TicketsButton:hover {
	background:#EB1F32;
}
#DownloadBrochureButton {
	background-color: rgba(76, 194, 215, 0.48);
	border:3px solid #00a8c6;
}
#DownloadBrochureButton:hover {	
	background:#00a8c6;
}

/* Colored Stripes*/
.colors-wrapper{
	position:relative;
	top:-5px;
} 	

/*Teaser*/
.teaser-headline{
	margin-top:60px;
	text-align:center;
	font-size:45px;
	color:#00a8c6;
	font-family: 'Oswald', sans-serif;
}
#teaser-text{
	color: #082d3c;
	margin:40px auto;
	font-size:24px;
	line-height:35px;
	font-weight: 300;
	max-width: 1000px;
	text-align:center;
}
@media (max-width:768px){ 
  .teaser-headline{
    font-size: 35px;
    margin-top: 40px;
  }
}
@media (max-width:580px){
  .teaser-headline{
    font-size: 30px;
    padding-top: 20px;
  } 
  #teaser-text{
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 0px;
  }	
}

/* Speakers */ 
/* Please open ./css/mainpage/speakers-mainpage.css for definitions */

/* Sponsors */
/* Please open ./css/mainpage/sponsors-mainpage.css for definitions */	

/* Twitter */
/* Please open ./css/mainpage/twitter.css for definitions */	

/* Numbers */
/* Please open ./css/mainpage/numbers.css for definitions */	

/* Videos */
/* Please open ./css/mainpage/videos.css for definitions */	

/* Testimonials */
/* Please open ./css/mainpage/testimonials.css for definitions */	

/* Venue */
/* Please open ./css/mainpage/venue.css for definitions */

/* Map */
/* Please open ./css/mainpage/map.css for definitions */

@media (min-width: 581px) and (max-width: 950px) {
	#FollowUs {
		margin-left: 0 !important;	
	}
	#HRNEvents {
		margin-left: 30px !important;
		padding-left: 0 !important;	
	}
}