@charset "utf-8";
/* CSS document for the MAIN PAGE -> MAP section */

#map {
	width:100%;
	height:400px;
	}	
#mapicon:hover {
	text-decoration:none;
}
.GoogleButton {
	width:100%; 
	text-align:center; 
	background:#06222c; 
	color:#fff; 
	padding:40px 0; 
	font-size:18px; 
}